body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  padding: 30px;
}

input {
  padding: 10px;
  margin: 20px;
  width: 200px;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 300px;
  margin: auto;
}

button {
  padding: 15px;
  font-size: 16px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}